@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 88%;
  margin: 0 auto;
}

.second_photo {
  position: relative;
  left: 30px;
  bottom: 20px;
  z-index: -1;
}

#classes-hours-weeks {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0 0 150px 0;
}

#classes-hours-weeks h3 {
  font-size: 25px;
  font-weight: 700;
  margin: 10px 0;
}

#classes-hours-weeks p {
  font-size: 18px;
  font-weight: 400;
  margin: 10px 0;
}

#classes-hours-weeks .item {
  margin-right: 125px;
}

#format {
  padding: 0 0 150px 0;
}

#format h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #000000;
  font-size: 55px;
  line-height: 101.38%;
}

#format .items {
  display: flex;
}

#format .item {
  /*width: 223px;*/
  margin-right: 125px;
}

#format h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1e4681;
  font-size: 25px;
  line-height: 130%;
  margin: 5px 0;
}

#format p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 130%;
  margin: 5px 0;
}

#learn {
  padding: 0 0 150px 0;
}

#learn h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #000000;
  font-size: 55px;
  line-height: 101.38%;
}

#learn ul {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 24px;
  line-height: 150%;
}

/* -------------Elxan's css------------------ */
body {
  max-width: 1440px;
}
#course-program {
  width: 100%;
  height: auto;
}
.course-program-header {
  width: 100%;
  height: 93px;
  position: relative;
  margin: 0px 0px 95px 0px;
}
.course-program-header-div {
  position: absolute;
  left: 121px;
  width: 905px;
  text-align: start;
}
.course-program-header-h2 {
  font-family: "Roboto Slab", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  /* line-height: 101.38%; */
  color: #000000;
}

.course-program-container {
  display: flex;
  width: 100%;
  padding-left: 84px;
  padding-right: 85px;
  column-gap: 37px;
  flex-wrap: wrap;
}
.course-program-blok {
  width: 33%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  height: 328px;
  margin: 0px 0px 41px 0px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.course-program-image {
  width: 100%;
  height: 160px;
}
.course-program-image-item {
  width: 100%;
  height: 100%;
}
.course-program-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  box-sizing: border-box;
  /* line-height: 130%; */
  line-height: 25px;
  color: #000000;
  height: 168px;
}
.course-program-text-item {
  height: 39px;
  margin: 11px 0px 32px;
  font-size: 30px;
  padding: 10px;
}
.course-program-text-footer {
  padding: 10px;
}

.course-program-text-footer p {
  font-weight: normal;
  font-size: 25px;
}

/* @media screen and (min-width: 375px) and (max-width: 834px) {
  .body {
    width: 835px;
  }

  .course-program-container {
    width: 100%;
    height: auto;
  }

  .course-program-header-div {
    left: 70.08px;
    top: 10px;
    height: 53.86px;
    margin-bottom: 50px;
  }
  .course-program-header-h2 {
    font-size: 32px;
  }
  .course-program-container {
    column-gap: 21.43px;
  }
  .course-program-blok {
    width: 31.225%;
    min-height: 189.97px;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    -ms-border-radius: 17px;
    -o-border-radius: 17px;
  }
  .course-program-image {
    padding: 0px;
    margin: 0px 0px 6.37px 0px;
  }
  .course-program-image-item {
    width: 100%;
    height: 92.67px;
    margin: 0px;
    padding: 0px;
  }
  .course-program-text {
    height: 22.59px;
    margin: 0px;
    padding: 0px 0px 18.53px;
  }
  .course-program-text-h3 {
    font-size: 17px;
    margin: 0px;
    padding: 0px;
  }

  .course-program-text-footer {
    height: 36.49px;
    font-size: 14px;
  }
} */
