@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 124px;
  margin: 0 auto;
  box-sizing: border-box;
}

#classes-hours-weeks .photo {
  position: relative;
  margin-right: 125px;
}

.photo-first {
  width: 232px;
  height: 203px;
}

.photo-first-ellipse {
  width: 189px;
  height: 32px;
  position: absolute;
  bottom: 0;
  left: 15%;
  z-index: -1;
  transform: translate(0, 50%);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
}

#classes-hours-weeks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-family: "Roboto", sans-serif;
  padding: 0 0 160px 0;
}

#classes-hours-weeks h3 {
  font-size: 25px;
  line-height: 130%;
  font-weight: 700;
  margin: 10px 0;
}

#classes-hours-weeks p {
  font-size: 18px;
  line-height: 130%;
  font-weight: 400;
  display: inline-block;
  width: 150px;
  margin-right: 100px;
}

#format {
  padding: 0 0 212px 0;
}

#format h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #000000;
  font-size: 55px;
  line-height: 101.38%;
  margin: 0 0 132px 0;
}

#format .items {
  display: flex;
}

#format .item {
  margin-right: 125px;
}

#format h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #1e4681;
  font-size: 25px;
  line-height: 130%;
  margin: 5px 0;
}

#format p {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
  font-size: 18px;
  line-height: 130%;
  margin: 5px 0;
}

#learn h2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #000000;
  font-size: 55px;
  line-height: 101.38%;
  margin: 0 0 70px 0;
}

#learn ul {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: #000000;
  list-style-position: inside;
  font-size: 24px;
  line-height: 150%;
}
#learn span {
  position: relative;
  left: -10px;
}

/* --Elxan's css ------- */

#course-program {
  max-width: 1440px;
  height: auto;
}
#course-program-header {
  width: 67.1%;
  height: 93px;
  margin: 248px 0px 95px 121px;
}

#course-program-header h2 {
  font-family: "Roboto Slab", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 56px;
  color: #000000;
}
.course-program-container {
  display: flex;
  width: 100%;
  padding-left: 6.4%;
  padding-right: 6.2%;
  column-gap: 37px;
  flex-wrap: wrap;
}
.course-program-blok {
  width: 31%;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  height: 328px;
  margin-bottom: 41px;
  background: #fff;
  /*padding-bottom: 10px */
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.course-program-image {
  width: 100%;
  height: 160px;
}
.course-program-image img {
  width: 100%;
  height: 100%;
}
.course-program-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 39px;
  color: #000000;
  height: 168px;
}
.course-program-text-item {
  height: 39px;
  font-weight: 700;
  margin: 11px 14px 32px 20px;
  font-size: 30px;
  color: black;
  padding-top: 5px;
  padding-bottom: 10px;
}
.course-program-text-footer {
  line-height: 32.5px;
  vertical-align: top;
  margin: 32px 15px 23px 19px;
  padding-top: 7px;
  padding-bottom: 5px;
}
.course-program-text-footer p {
  font-weight: 400;
  font-size: 25px;
}
