@media only screen and (max-width: 375px) {
  #course-participants {
    max-height: 423px;
  }
  #course-start {
    height: 363px;
    box-sizing: border-box;
  }
  .course-start-container {
    height: 363px;
    padding-top: 62px;
  }
  .footer-container {
    height: 100%;
  }
  #footer {
    box-sizing: border-box;
    height: 251px;
    padding: 0px;
    margin: 0;
  }
  .course-participants-container {
    height: 423px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 11px;
    font-size: 26px;
    width: 257px;
    height: 69px;
  }
  .participant-img {
    max-width: 308px;
    max-height: 248px;
    padding: 0px 30px 10px 20px;
    margin-right: 8%;
    margin-top: 20px;
  }
  #participantdiv {
    font-size: 10px;
    max-width: 266px;
    max-height: 111px;
    padding-top: 20px;
  }
  .participantflex {
    max-width: 300.04px;
    max-height: 47.88px;
    margin-top: 40px;
  }

  #yekaterina {
    width: 150.49px;
    height: 32.73px;
    font-size: 14px;
  }
  #fbicon {
    width: 14.91px;
    height: 17.2px;
  }
  #girlicon {
    width: 95px;
    min-height: 84px;
    padding: 0px;
  }
  #yekaterinafb {
    padding-left: 0;
  }
  #sentyabr {
    max-height: 63px;
    width: 224px;
  }

  h3 {
    width: 224px;
    height: 100%;
    font-size: 26px;
  }
  #price {
    margin-top: 40px;
    width: 79.22px;
    height: 14.91px;
    font-size: 12px;
  }

  #pricevalue {
    width: 224.13px;
    height: 84.34px;
    font-size: 37px;
  }

  #priceheader1,
  #priceheader2 {
    font-size: 12px;
    max-width: 137px;
    height: 14.91px;
  }

  .pricetext {
    font-size: 10px;
    max-width: 100px;
    height: 47px;
  }

  .priceflex {
    display: flex;
    padding-bottom: 63pxpx;
    width: 270px;
  }

  #firstpricebox {
    max-width: 138px;
    min-height: 47px;
  }

  #secondpricebox {
    max-width: 100px;
    min-height: 38px;
  }

  #logo-mobile-icon {
    width: 53.59px;
    height: 31.69px;
    margin-bottom: 13px;
  }

  #phone-number,
  #mail {
    font-size: 12px;
    width: 107.17px;
    height: 18.64px;
  }

  #phone-icon,
  #mail-icon {
    width: 12.58px;
    height: 12.58px;
    margin-right: 10px;
  }

  #mail-icon {
    width: 12.58px;
    height: 8.39px;
    margin-right: 10px;
  }

  #copyright {
    font-size: 10px;
    width: 141px;
    height: 19px;
    margin-top: 47px;
    margin-left: 30px;
    color: white;
  }

  .socialicon {
    width: 15.38px;
    height: 15.38px;
  }

  #footer-icon-flex {
    flex-direction: column;
    margin-bottom: 0;
  }
  #contact {
    margin-bottom: 0px;
    margin-top: 47px;
  }
  /* ----------------Eldar------- */
  .container {
    max-width: 303px;
  }

  #classes-hours-weeks {
    padding: 0;
    margin-left: 35px;
    margin-top: 0px;
  }
  #classes-hours-weeks .item-container {
    margin-top: 45px;
  }
  #classes-hours-weeks .photo {
    display: none;
  }

  #classes-hours-weeks h3 {
    height: 14px;
    width: 85px;
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0px;
  }
  #classes-hours-weeks p {
    font-size: 10px;
    font-weight: 400;
    width: 81px;
    margin: 0;
    margin-right: 40px;
  }
  #format {
    padding: 0;
    margin: 73px 10px 0px 35px;
  }

  #format h2 {
    font-size: 26px;
    margin: 0;
  }
  #format .items {
    flex-direction: column;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  #format .item {
    padding-bottom: 0px;
  }
  #format h3 {
    font-size: 12px;
    height: 13px;
    width: 180px;
  }
  #learn {
    padding: 0;
    margin-left: 35px;
    margin-top: 73px;
  }

  #learn h2 {
    font-size: 26px;
    height: 43px;
    margin: 0;
  }
  #learn ul {
    margin-top: 10px;
    padding-bottom: 0px;
  }

  /* ---------Elxan's css for mobil-------- */
  /* ----header---- */
  #course-program {
    max-width: 375px;
  }
  #course-program-header {
    height: 43.34px;
    width: 80%;
    margin: 85px 0px 35.66px 34px;
    padding: 0px;
  }
  #course-program-header h2 {
    font-size: 26px;
  }

  /* ---------------blok---------- */
  .course-program-container {
    max-width: 375px;
    display: block;
    padding-left: 95px;
    padding-right: 95px;
  }
  .course-program-blok {
    width: 100%;
    height: 152.84px;
    margin-top: 34px;
    margin-bottom: 24.15px;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
  }
  .course-program-image {
    height: 74.56px;
  }
  .course-program-text {
    height: 77.8px;
    margin: 5.13px 3.2px 14.41px 9.32px;
  }
  .course-program-text-item {
    font-size: 14px;
    height: 18.2px;
    line-height: 16.5px;
    width: 99%;
    padding: 0px;
    margin: 5.13px 6px 14.91px 9px;
  }
  .course-program-text-footer {
    height: 29.36px;
    width: 99%;
    margin: 14.91px 6.99px 10.72px 8.85px;
    padding: 0px;
  }
  .course-program-text-footer p {
    font-size: 12px;
    line-height: 15.6px;
  }

  /* -----Rafael's for mobil---- */
  .first {
    width: 52.19px;
    height: 30.75px;
    min-width: 52.19px;
    min-height: 30.75px;
    margin-bottom: 44px;
  }
  .globe1 {
    width: 11%;
    max-height: 21px;
  }
  .globe2,
  .date2,
  .time2 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 115%;
    margin-left: 5px;
    align-items: center;
    align-self: center;
  }
  .globe-image,
  .date-image,
  .time-image {
    width: 100%;
    height: 100%;
  }
  .globe1,
  .time1,
  .date1 {
    align-items: center;
    align-self: center;
    min-width: 14px;
    min-height: 14px;
  }
  .time1 {
    width: 12%;
    max-height: 22px;
  }
  .time2 {
    text-shadow: none;
    font-weight: normal;
  }
  .date1 {
    width: 10%;
    max-height: 22px;
    min-height: 14px;
    min-width: 14px;
  }
  .date,
  .globe {
    width: 11.1%;
    min-width: 100px;
  }
  .time {
    width: 11.1%;
    min-width: 100px;
  }
  .main-2 {
    width: 100%;
    display: block;
  }
  .nolan {
    width: 141.66px;
    min-width: 141.66px;
    min-height: 175.89px;
    max-height: 175.89px;
    margin-left: 50%;
  }
  .ellipse1 {
    position: absolute;
    top: 155px;
    right: 0px;
    width: 127px;
    z-index: -1;
  }
  .kino {
    width: 290px;
  }
  .kino-head {
    font-size: 37px;
    width: 290px;
  }
  .kino-text {
    font-size: 10px;
  }
  .block {
    width: 225px;
    height: 93px;
    margin-left: 9%;
  }
  .block-text {
    font-size: 11px;
    padding-left: 12px;
    padding-top: 9px;
  }
  .block-author {
    font-size: 13px;
  }
  .wick {
    display: block;
  }
  h1 {
    font-size: 26px;
  }
  .okurse {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    width: 70%;
    margin-left: 36px;
  }
  .camera {
    width: 146.32px;
    height: 146.78px;
    min-width: 146.32px;
    min-height: 146.78px;
    margin: auto;
    margin-top: 56px;
    margin-bottom: 43px;
    flex-direction: column;
  }
  .camera-photo {
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .ellipse2 {
    position: absolute;
    top: 135px;
    right: -12px;
    width: 170.5px;
    height: 27px;
  }
}
