@media only screen and (max-width: 377px) {
  #course-participants {
    max-height: 423px;
  }

  #course-start {
    height: 363px;
    box-sizing: border-box;
  }
  .course-start-container {
    height: 363px;
  }
  .footer-container {
    height: 100%;
  }
  #footer {
    box-sizing: border-box;
    height: 251px;
    padding: 0px;
    margin: 0;
  }

  h4 {
    margin-top: 20px;
    font-size: 26px;
    width: 257px;
    height: 69px;
  }
  .participant-img {
    max-width: 308px;
    min-height: 248px;
    padding: 20px;
    padding-right: 30px;
    margin-right: 8%;
    margin-top: 35px;
  }
  #participantdiv {
    font-size: 10px;
    max-width: 266px;
    max-height: 111px;
  }
  .participantflex {
    max-width: 100.04px;
    min-height: 47.88px;
    margin-top: 40px;
    margin-left: 0;
    padding-left: 0;
  }

  #yekaterina {
    width: 164.49px;
    height: 32.73px;
    font-size: 14px;
  }
  #fbicon {
    width: 14.91px;
    height: 17.2px;
  }
  #girlicon {
    width: 100px;
    min-height: 84px;
    padding-left: 0px;
  }

  h3 {
    margin-top: 20px;
    width: 224px;
    height: 63px;
    font-size: 26px;
  }
  #price {
    margin-top: 40px;
    width: 79.22px;
    height: 14.91px;
    font-size: 12px;
  }

  #pricevalue {
    width: 224.13px;
    height: 84.34px;
    font-size: 37px;
  }

  #priceheader1,
  #priceheader2 {
    font-size: 12px;
    max-width: 137px;
    height: 14.91px;
  }

  .pricetext {
    font-size: 10px;
    max-width: 100px;
    height: 47px;
  }

  .priceflex {
    display: flex;
    padding-bottom: 63pxpx;
    width:270px;
  }

  #firstpricebox {
    max-width: 138px;
    min-height: 47px;
  }

  #secondpricebox {
    max-width: 100px;
    min-height: 38px;
  }

  #logo-mobile-icon {
    width: 53.59px;
    height: 31.69px;
    margin-bottom: 13px;
  }

  #phone-number,
  #mail {
    font-size: 12px;
    width: 107.17px;
    height: 18.64px;
  }

  #phone-icon,
  #mail-icon {
    width: 12.58px;
    height: 12.58px;
    margin-right: 10px;
  }

  #mail-icon {
    width: 12.58px;
    height: 8.39px;
    margin-right: 10px;
  }

  #copyright {
    font-size: 10px;
    width: 141px;
    height: 19px;
    margin-top: 47px;
    margin-left: 30px;
    color: white;
  }

  .socialicon {
    width: 15.38px;
    height: 15.38px;
  }

  #footer-icon-flex {
    flex-direction: column;
    margin-bottom: 0;
  }
  #contact {
    margin-bottom: 0px;
    margin-top: 47px;
  }

  .container {
    padding: 0 35px;
  }

  #classes-hours-weeks {
    padding: 0 0 70px 0;
  }

  #classes-hours-weeks .photo {
    display: none;
  }

  #classes-hours-weeks h3 {
    font-size: 12px;
    margin: 7px 0;
  }

  #classes-hours-weeks p {
    font-size: 10px;
    font-weight: 400;
    width: 81px;
    margin-right: 40px;
  }

  #format {
    padding: 0 0 80px 0;
  }

  #format h2 {
    font-size: 26px;
    margin: 0 0 35px 0;
  }

  #format .items {
    flex-direction: column;
  }

  #format .item {
    margin-right: 120px;
  }

  #learn {
    padding: 0 0 65px 0;
  }

  #learn h2 {
    font-size: 26px;
    margin: 0 0 30px 0;
  }
}
