@media only screen and (max-width: 835px) {
  #course-start {
    max-height: 451.75px;
    padding-top: 0px;
    margin-top: 0px;
  }
  .course-start-container {
    padding-top: 103px;
  }
  #course-participants {
    max-height: 451.75px;
  }
  #footer {
    height: 225.88px;
    box-sizing: border-box;
    padding: 0px;
  }
  .footer-container {
    height: 100%;
  }
  .participant-img {
    max-width: 458.12px;
    min-height: 261.2px;
  }
  #participants-header {
    font-size: 32px;
    max-width: 571.64px;
    height: 53.86px;
  }

  #participantdiv {
    font-size: 12px;
    max-width: 405.42px;
    min-height: 117.57px;
  }

  .participantflex {
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    max-width: 150.04px;
    min-height: 87.88px;
  }
  #girlicon {
    max-width: 110.04px;
    min-height: 97.88px;
  }
  #fbicon {
    width: 18.53px;
    height: 17.95px;
  }
  #yekaterina {
    font-size: 17px;
    height: 34px;
  }
  #yekaterinafb {
    padding-top: 25px;
  }

  #sentyabr {
    font-size: 32px;
    width: 68.5%;
    margin-top: 0px;
    padding-top: 0px;
    height: 38.23px;
  }
  #price {
    font-size: 14px;
  }
  .priceflex {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #pricevalue {
    font-size: 46px;
    width: 278.58px;
    height: 104.83px;
  }
  #priceheader1,
  #priceheader2 {
    font-size: 14px;
    width: 170.28px;
    height: 18.53px;
  }

  .pricetext {
    font-size: 10px;
    width: 170.28px;
    height: 40.54px;
  }

  #logo-mobile-icon {
    width: 66.6px;
    height: 39.38px;
  }
  #footer-icon-flex {
    padding-right: 10%;
    margin-bottom: 0px;
  }
  #contact {
    margin-right: 0px;
  }
  #phone-number,
  #mail {
    font-size: 14px;
    width: 133.21px;
    height: 23.17px;
  }

  #phone-icon,
  #mail-icon {
    width: 15.64px;
    height: 15.64px;
    margin-right: 10px;
  }

  .socialicon {
    width: 19.11px;
    height: 19.11px;
  }
  #copyright {
    font-size: 10px;
    width: 133.21px;
    height: 23.17px;
    margin-top: 84.56px;
    margin-bottom: 0px;
    margin-left: 60px;
    padding-bottom: 13.32px;
  }

  .container {
    max-width: 736px;
  }

  /* -------Eldar's css for tablet --------- */

  .container {
    padding: 0 70px;
  }

  #classes-hours-weeks {
    padding-bottom: 90px;
    margin-left: 90px;
  }

  #classes-hours-weeks .photo {
    margin-right: 77px;
    margin-left: 0px;
  }

  .photo-first {
    width: 134.37px;
    height: 117.57px;
  }

  .photo-first-ellipse {
    width: 109.46px;
    height: 18.53px;
    position: absolute;
    bottom: 0;
    left: 15%;
    z-index: -1;
    transform: translate(0, 25%);
    -webkit-transform: translate(0, 25%);
    -moz-transform: translate(0, 25%);
    -ms-transform: translate(0, 25%);
    -o-transform: translate(0, 25%);
  }

  #classes-hours-weeks h3 {
    font-size: 15px;
    line-height: 130%;
  }

  #classes-hours-weeks p {
    font-size: 11px;

    margin: 8px 0;
    width: 90px;
    margin-right: 50px;
  }

  #format {
    padding: 0 0 122px 0;
    margin-left: 90px;
  }

  #format h2 {
    font-size: 32px;
    margin: 0 0 80px 0;
  }

  #format .item {
    margin-right: 64px;
  }

  #format h3 {
    font-size: 15px;
  }

  #format p {
    font-size: 11px;
  }
  #learn {
    margin-left: 90px;
  }
  #learn h2 {
    font-size: 32px;
    margin: 0 0 40px 0;
  }

  #learn ul {
    font-size: 14px;
  }

  /* ----------Elxan's css  for tablet ------- */
  #course-program {
    max-width: 834px;
  }
  #course-program-header {
    height: 53.86px;
    width: 62.85%;
    margin: 143.63px 0px 55.02px 70.08px;
  }
  #course-program-header h2 {
    font-size: 32px;
    line-height: 32.44px;
  }
  /* ---------------blok---------- */
  .course-program-container {
    column-gap: 21.43px;
    width: 100%;
    padding-left: 5.2%;
    padding-right: 5.2%;
  }
  .course-program-blok {
    width: 31%;
    height: 189.97px;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 17.38px;
    -webkit-border-radius: 17.38px;
    -moz-border-radius: 17.38px;
    -ms-border-radius: 17.38px;
    -o-border-radius: 17.38px;
  }
  .course-program-image {
    height: 92.67px;
  }

  .course-program-text {
    height: 97.3px;
    padding: 0px;
    margin: 0px;
  }
  .course-program-text-item {
    font-size: 17px;
    height: 22.59px;
    line-height: 16.5px;
    margin: 6.37px 8.11px 18.53px 11.58px;
    padding-top: 4px;
    padding-bottom: 3px;
  }

  .course-program-text-footer {
    height: 36.49px;
    margin: 18.53px 8.69px 13.32px 11px;
  }
  .course-program-text-footer p {
    font-size: 14px;
    line-height: 18.2px;
  }

  /* ---------Rafael's for tablet --------- */
  .first {
    width: 64.87px;
    height: 38.23px;
    max-width: 64.87px;
    max-height: 38.23px;
  }
  .time {
    margin-left: 20px;
  }
  .nolan {
    width: 176px;
    min-width: 176px;
    min-height: 206px;
    max-height: 206px;
    margin-right: 17%;
    margin-left: 9%;
    position: relative;
    z-index: 0;
  }
  .nolan-photo {
    width: 100%;
    height: 100%;
  }
  .ellipse1 {
    position: absolute;
    top: 195px;
    width: 158px;
    height: 24px;
  }
  .ellipse1-img {
    width: 100%;
    height: 100%;
  }
  .ellipse2 {
    position: absolute;
    bottom: -12px;
    right: 0px;
    width: 158px;
    z-index: -1;
  }
  .kino-head {
    font-size: 46px;
  }
  .kino-text {
    font-size: 12px;
  }
  .block {
    width: 280px;
    height: 115px;
  }
  .block-text {
    font-size: 14px;
  }
  .block-author {
    font-size: 12px;
  }
  h1 {
    font-size: 32px;
  }
  .okurse {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin-left: 90px;
    margin-right: 110px;
  }

  .camera {
    position: relative;
    max-width: 181px;
    max-height: 182px;
  }
  .camera-photo {
    width: 181px;
    max-height: 182px;
  }
  .camera .camera-img {
    width: 100%;
    height: 100%;
  }
  .ellipse2 {
    position: absolute;
    width: 211px;
    height: 34px;
    top: 167px;
    left: -16px;
  }
}
